
    .DS_Store
    Thumbs.db
    */node_modules/
    dist/
    .env.*
    .vscode/
    *.log
    coverage/
    .idea/
    *.iml
    tenant_portal_app/node_modules
    tenant_portal_backend/node_modules
    tenant_portal/
    
    # Wiki sync temporary directories
    wiki-repo-temp/
    wiki-repo/